

div > p{
    display: none;
}

    div:hover > p{
        display: block;
    }
        .linka{
            color:brown;
        }

.div{
    display: inline-block;
    background-color: lightcyan;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}
